@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* || RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLES*/

:root {
  --BODY-FS: clamp(1.2rem, 2.5vh, 1.8rem);
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #2b3a4a;
  color: #eee;
  font-size: var(--BODY-FS);
  font-family: "Poppins", sans-serif;
  padding: 0.6rem 1.2rem;
}

main {
  width: clamp(320px, 65vw, 800px);
  background-color: #344455;
  padding: 1em;
  border-radius: 16px;
}

h1 {
  text-align: center;
}

.heading {
  margin-bottom: clamp(0.5em, 0.5em, 1em);
  font-family: Arial, Helvetica, sans-serif;
  color: #e7cefe;
}

button,
textarea {
  font: inherit;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

/* || UTILITIES */

.off-screen {
  position: absolute;
  left: 100000px;
}

/* || TOGGLE CLASSES */
.displayFlex {
  display: flex;
}

.displayNone {
  display: none;
}

.strike {
  text-decoration: line-through;
}

/* || Add Item Form */
.add-list-item-form,
.modify-list-item-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-input-container {
  width: fit-content;
}

.add-list-item-form label {
  display: block;
  text-align: center;
  font-weight: bold;
}

:is(.add-list-item-form, .modify-list-item) textarea {
  resize: none;
  overflow-y: hidden;
}

:is(.add-list-item-form, .modify-list-item) textarea::placeholder {
  font-weight: light;
  font-style: italic;
  font-size: calc(var(--BODY-FS) - 0.2rem);
}

:is(.add-list-item-form, .modify-list-item) button,
:is(.add-list-item-form, .modify-list-item) textarea {
  padding: 0.5em 1em;
  border-radius: 10px;
  box-shadow: 3px 1px 2px #000;
  border: 1px solid #000;
}

:is(.add-list-item-form, .modify-list-item) button {
  margin-top: 10px;
  background-color: steelblue;
  width: fit-content;
}

:is(.add-list-item-form, .modify-list-item) button:is(:hover, :focus) {
  filter: brightness(1.1);
  transform: scale(1.05);
}

:is(.add-list-item-form, .modify-list-item) button:active {
  filter: brightness(1.2);
  transform: scale(0.95);
}

/* || LIST AND PLACEHOLDER-GUIDE SECTION */

.list-section,
.guide-placeholder {
  margin-top: 60px;
}

.list {
  padding: 10px;
  word-break: break-word;
  overflow-wrap: break-word;
  flex-grow: 1;
}

.list li {
  min-height: 48px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  word-break: break-word;
  overflow-wrap: break-word;
  justify-content: space-between;
}

.list li button.strikeable {
  text-align: justify;
}

.list li:hover {
  color: aliceblue;
}

.options {
  align-items: self-end;
  flex-flow: row nowrap;
  gap: clamp(0.5rem, 2vw, 1rem);
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
  color: #000;
}

.options button {
  background-color: aliceblue;
  color: #000;
}

.list li:hover .options {
  display: flex;
}

/* Bulk Action Buttons */

.options button,
.bulk-action-btn-group button {
  padding-inline: 0.4em;
  border: 1px solid black;
  border-radius: 6px;
  text-decoration: none;
  min-height: 48px;
  min-width: 48px;
}

.bulk-action-btn-group button {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.bulk-action-btn-group .red-btn {
  color: aliceblue;
  background-color: rgb(185, 45, 45);
}

.bulk-action-btn-group .aliceblue-btn {
  background-color: aliceblue;
  color: #000;
}

:is(.options button, .bulk-action-btn-group .aliceblue-btn):is(:hover, :focus) {
  background-color: #000;
  color: aliceblue;
}

.bulk-action-btn-group button:hover {
  transform: scale(1.05);
}

:is(.options, .bulk-action-btn-group) button:active {
  transform: scale(0.95);
}

.red-btn:hover {
  filter: brightness(1.1);
}

.red-btn:active {
  filter: brightness(1.2);
  transform: scale(0.95);
}

.wrapper {
  column-gap: 1.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
