* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #fff;
}

button {
  padding: 1em;
  margin-block: 1em;
  border-radius: 8px;
  border: 1px solid black;
  background-color: papayawhip;
}

button:hover {
  filter: brightness(0.9);
  transform: scale(1.1);
}

button:is(:active, :focus) {
  filter: brightness(0.8);
  transform: scale(0.9);
}

.dark-theme {
  color: #fff;
  background-color: rgb(88, 87, 87);

  button {
    color: #fff;
    background-color: steelblue;
  }

  button:hover {
    filter: brightness(1.1);
  }

  button:is(:active, :focus) {
    filter: brightness(1.2);
  }
}
